[2021-05-31 22:30] rodrigo-arenas opened #8 "[Feature] Auto summary documentation"
**Is your feature request related to a problem? Please describe.**
The current documentation doesn't have enabled auto summary from Sphinx

**Describe the solution you'd like**
Include auto summary option in the documentation (docs/conf.py) using sphinx.ext.autosummary

**Describe alternatives you've considered**
Checking the options
autosummary_generate and autosummary_imported_members, tried bef

[2021-05-31 22:39] rodrigo-arenas opened #9 "[Feature] Enable scikit-learn's BaseSearchCV"
**Is your feature request related to a problem? Please describe.**
Currently the sklearn_genetic.GASearchCV has an inheritance from ClassifierMixin, RegressorMixin, but it should actually be from BaseSearchCV to be compatible with methods implementen in classes like GridSearchCV.

**Describe the solution you'd like**
The request is to implement this inheritance, deprecate the methods or logic that

[2021-05-31 22:56] rodrigo-arenas opened #10 "[Enhancement] Base class for Callbacks"
**Is your feature request related to a problem? Please describe.**
Currently the .fit method of GASearchCV accepts a callbacks argument, this is used to stop the training process when a condition is met. All the callbacks implements the same methods: `.on_step` and `__call__` which are used while the optimization routine is running.
Currently, each callback does not have any kind of inheritance fr

[2021-05-31 23:41] rodrigo-arenas opened #11 "[Feature] Requirements.txt for docs"
**Is your feature request related to a problem? Please describe.**
At this point the docs requirements are in dev-requirements.txt, but it should have its own requirements file

**Describe the solution you'd like**
Change the readthedocs.yml file to use this docs/requirements.txt file, and make sure the docs are build correctly

**Describe alternatives you've considered**
There is already a file i

[2021-06-01 23:26] rodrigo-arenas commented on #11
This issue has been completed with the PR #13

[2021-06-01 23:26] #11 closed

[2021-06-21 20:36] rodrigo-arenas opened #21 "MLflow Integration"
**Is your feature request related to a problem? Please describe.**
Currently sklear-genetic-opt allows logging using `DEAP.Loogbook`, it's wanted to also allow logging
metrics, hyperparameters and fitted models into MLflow: https://mlflow.org/

**Describe the solution you'd like**
Create an aditional parameter in GASearchCV with all the configs needed by MLflow

**Describe alternatives you've cons

[2021-06-21 23:50] rodrigo-arenas commented on #21
Close this issue as implemented in the PR #22

[2021-06-21 23:50] #21 closed

[2021-06-22 02:20] rodrigo-arenas commented on #10
Close this issue as implemented in PR #23

[2021-06-22 02:20] #10 closed

[2021-06-22 22:11] rodrigo-arenas opened #26 "[Feature"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-22 22:30] rodrigo-arenas opened #27 "[Feature] Parallel Coordinates plot"
**Is your feature request related to a problem? Please describe.**
NA

**Describe the solution you'd like**
Implement in the `sklearn_genetic.plots` module a function named `plot_parallel_coordinates` to inspect the results of the learning process

**Describe alternatives you've considered**
The function should take two arguments:
* **estimator:** A fitted estimator from `sklearn_genetic.GASearchC

[2021-06-22 23:03] #26 closed

[2021-06-23 15:55] rodrigo-arenas opened #30 "[FEATURE] MLflow tests"
**Is your feature request related to a problem? Please describe.**
Currently there are not unit tests to the integration with MLflow

**Describe the solution you'd expect**
Create the file in sklearn_genetic/tests/test_mlflow.py and put the set of test that contains the use case of MLflow from sklearn_genetic.mlflow
It should test if the config creates or no a new topic and the use of each paramet

[2021-06-25 14:53] rodrigo-arenas commented on #9
As mentioned in PR #31, the GASearchCV class now has inheritance from BaseSearchCV, but it's still missing some features, the most important one, it's the implementation of the `cv_results_` property

[2021-06-25 19:37] #8 closed

[2021-06-25 22:06] Turtle24 commented on #30
Hey, I'd like to take this one on. We've been working with MLflow recently so I'd like to get more into it.

[2021-06-25 22:07] rodrigo-arenas commented on #30
Hey, that is great! Let me know if you have any doubts about the package itself

[2021-06-25 23:03] Raul9595 commented on #27
Can I try this?

[2021-06-25 23:04] rodrigo-arenas commented on #27
@Raul9595  for sure! All the help is welcome

[2021-06-26 03:52] Raul9595 commented on #27
I just had a few questions.
- What would the categorical value be i.e. the 'Name' in the example of https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.plotting.parallel_coordinates.html
- Do we include score also in the plot?

[2021-06-26 04:34] rodrigo-arenas commented on #27
What I have in mind is the following:
* take the "score" column, and for each row, calculate to what quartile it belongs (Q1 - Q4) using pandas.cqut(.., q=4), call this column "Score_Quartile"
* Now, the "Name" parameter will be this new column
* We can keep the score column as the last column

If you have any question, let me know. Thanks!

[2021-06-26 19:26] rodrigo-arenas opened #41 "[FEATURE] TensorBoard Callback"
This features allows to inspect the running metrics over generations from tensorboard directly without having to call plotting functions

**Describe the solution you'd expect**
Create a TensorBoard callback in sklearn_genetic.callbacks.loggers, it must let you select the log dir and internally use tf.summary.scalar(.., step=gen) to log the record from the algorithms logbook

**Additional context**

[2021-06-26 21:43] rodrigo-arenas opened #43 "[DOCS] English Tutorials Review"
**Is your feature request related to a problem? Please describe.**
Currently there are several tutorials in the docs. As English is my second language, it probably has some errors and redaction that can be improved.

**Describe the solution you'd expect**
I'd appreciate if someone could review and improve the tutorials documentation to make it clearer to English readers.

Check the docs/tutorials

[2021-06-26 21:49] rodrigo-arenas opened #44 "[DOCS] Jupyter Notebooks Tutorials"
**Is your feature request related to a problem? Please describe.**
There are several Jupyter Notebooks that are meant to be a tutorial for new users, but currently they are very simple, the models and options are almost the same across the notebooks and there is a lack of explanation of what is going on.

**Describe the solution you'd expect**
Review the existing Notebooks under the docs/notebooks

[2021-06-26 21:49] #41 closed

[2021-06-26 22:04] rodrigo-arenas opened #45 "[BUG] Callback not evaluated in gen 0"
**System information**
OS Platform and Distribution: all
Sklearn-genetic-opt  version: 0.6.0dev0
Scikit-learn version: 0.21.3
Python version: 3.7

**Describe the bug**
Currently, the callbacks are meant to be evaluated after each generation is fitted.
A missing statement is making that the callbacks only starts to be evaluated from gen 1, ignoring generation 0.

**Expected behavior**
Make sure tha

[2021-06-26 22:33] #45 closed

[2021-06-27 05:59] rhit-namburs commented on #44
Hi I would like to work on it. Note that this is my first time working on a open source project.

[2021-06-27 06:00] rhit-namburs commented on #43
Hi! I would like to work on this issue as I am a native English speaker.

[2021-06-27 13:25] rodrigo-arenas commented on #43
Hi @rhit-namburs, thanks, I'll assign you this issue, I apareciste the help!

[2021-06-27 13:29] rodrigo-arenas commented on #44
Ey of course, don't worry, any help is appreciate.
You can start just with one notebook, make the pull request to getbsome feedback or comments if needed, so you get more familiar with the project

[2021-06-27 15:01] rodrigo-arenas commented on #30
Thanks to @Turtle24 now there are tests on mlflow, we'are still looking how to run them using docker as the mlflow server to make sure we don't mess up some local mlflow instance

[2021-06-27 20:17] rodrigo-arenas opened #50 "[FEATURE] Training progress bar"
**What is the use case for this feature?**
Letting the user know how much is left to finish the training

**Describe the solution you'd expect**
When the fit method of GASearchCV is called, a progress bar must be displayed and show the progress of the training

**Additional context**
Use the tqdm python package

[2021-06-27 21:27] #50 closed

[2021-06-27 22:56] rodrigo-arenas opened #52 "[FEATURE] Extend Callbacks Methods"
**Is your feature request related to a problem? Please describe.**
Currently callbacks are only evaluated at the end of each step using the `on_step()` method, this restrict the use case if we want to take some actions at the beginning or end of the evaluation process

**Describe the solution you'd expect**
Implement the methods `on_start()` and `on_end()` to let the user have bigger control over

[2021-06-27 23:08] rodrigo-arenas opened #53 "[Docs] External references"
**Describe the solution you'd expect**
This issue is meant to guide and support people who wants to add an external reference, these references will be shown [here](https://sklearn-genetic-opt.readthedocs.io/en/stable/external_references.html)

You can add a blog post, a video, a kaggle notebook or an article. You can add the link of the content in the file docs/external_references.rst (following

[2021-06-28 16:11] #52 closed

[2021-06-28 18:57] rodrigo-arenas commented on #27
hi @Raul9595, thanks again for the help!
I just realized that pandas doesn't scale each variable independently, making that large scale parameters squeezes small parameters.
I was wondering if you also want to work on this enhancement, to make a plot that can have independently scales for each feature?

[2021-06-29 00:55] #9 closed

[2021-06-29 03:20] Raul9595 commented on #27
Hi @rodrigo-arenas! Yes I can definitely try this out. How do you want to proceed with this -

- Normalize everything such that everything shares the same y axis range
- Plot them along separate y axis ranges based on their min and max values

[2021-06-29 03:24] rodrigo-arenas commented on #27
Ey, thanks!
The second option would be the one to go, its less confusing for the users as the parameters stay in the same scale they defined

[2021-06-29 04:03] Raul9595 commented on #27
Ok sounds good. Will work on it

[2021-06-29 14:45] rodrigo-arenas opened #56 "[FEATURE] GAFeaturesSelectionCV"
**Is your feature request related to a problem? Please describe.**
This feature will make the package extend it's functionalities to include feature selection using evolutionary algorithms. Currently, only hyperparameters tuning is being done.

**Describe the solution you'd expect**

Implement the class GAFeaturesSelectionCV inside sklearn_genetic.genetic_search with the following functionalities:

[2021-07-06 15:42] rodrigo-arenas commented on #43
Closing now after several improvements, if anyone finds an opportunity, feel free to open a PR with the changes

[2021-07-06 15:42] #43 closed

[2021-07-07 14:41] poroc300 opened #63 "[FEATURE] Report multiple scoring metrics"
Hello,

I have been looking into your package and it is really cool. Thank you for putting a lot of effort in developing such an amazing tool.

**Is your feature request related to a problem? Please describe.**
`GASearchCV`, unlike `GridSearchCV`, only accepts one scoring metric. Obviously, the algorithm can only use one metric to decide which models will carry over to the next generation. However

[2021-07-07 16:29] rodrigo-arenas commented on #63
HI, thank you for your message.
This is something I had in mind, so I agree it could be useful and it would make the package more similar to the scikit-learn API
I'll add this to work it in the release of version 0.7.0

[2021-07-08 07:47] poroc300 commented on #63
That's great, thank you!

[2021-07-08 09:30] poroc300 opened #64 "[FEATURE] Add threshold parameter to ConsecutiveStopping"
**Is your feature request related to a problem? Please describe.**
I ran `GASearchCV`  with a callback that stopped the optimization if the fitness was no greater than at least one value of fitness from the last 5 generations.

[code]
Checking the log information while the algorithm was running, I have noticed that the reported fitness (-12.7893) was the same for more than 5 consecutive generation

[2021-07-08 11:24] poroc300 opened #65 "ValueError when a single parameter is supplied to GASearchCV"
**System information**
OS Platform and Distribution: Windows 10
Sklearn-genetic-opt  version: 0.6.0
Scikit-learn version: 0.24.1
Python version: 3.8

**Describe the bug**
`GASearchCV` raises a `ValueError : empty range for randrange() (1, 1, 0)` after generation 0 when only one parameter is supplied to the argument `param_grid`. I am not 100% sure if this is a true bug or if this is an expected be

[2021-07-08 14:26] rodrigo-arenas commented on #64
Hi, thanks for your report and suggestion
Effectively, this is because of the precision that python can handle when comparing two float points.
What you are trying to achieve, would probably be a better fit for the `DeltaThreshold` callback, it stops the training if the absolute difference between the current and last generation metric is not greater than a threshold parameter `abs(current_stat -

[2021-07-08 15:30] rodrigo-arenas commented on #65
Hi, thanks.
This is somehow the expected behavior, the way the new candidates are created in generation 1, is by using a [crossover](https://deap.readthedocs.io/en/master/api/tools.html#deap.tools) operation, which is a DEAP`tools.cxTwoPoint`, this function needs to sample 2 random points from each individuals parameter, as it has length 1, it can't be done.

To fix this, I'll introduce the `tools

[2021-07-08 16:09] #65 closed

[2021-07-09 07:11] poroc300 commented on #65
Thank you very much for the explanation.

[2021-07-09 07:13] poroc300 commented on #64
Yes, `DeltaThreshold` could be also an interesting option. Thanks for addressing this.

[2021-07-09 16:01] rodrigo-arenas commented on #64
No problem, I'm glad to help, this is now implemented in the master branch and it will be released in the next version.

[2021-07-09 16:06] #64 closed

[2021-08-03 01:06] Raul9595 commented on #27
Sorry for taking a long time. It may tough to do the above solution using Pandas. Is Matplotlib or Plotly a option?

[2021-08-03 01:51] rodrigo-arenas commented on #27
Ey, don't worry about it. Matplotlib can be a good fit, so we don't add extra dependencies with Plotly
Thanks!

[2021-08-03 19:25] das-ankur commented on #53
Hello, Can I work on this?

[2021-08-03 19:26] das-ankur commented on #56
Hello, I want to work on this too? Can I?

[2021-08-03 19:28] rodrigo-arenas commented on #53
Hello @das-ankur , yea for sure, all the help is welcome!

[2021-08-03 19:31] rodrigo-arenas commented on #56
Hello, yes you can, this is probably the hardest feature available, so I'll be working on it as well, just to make sure it's compatible with all the package, I'll do it on a new branch named FeaturesSelectionCV, so make sure to clone this branch and make the PR on it

[2021-08-04 09:57] poroc300 opened #68 "Continuous not working for parameters with hard value ranges"
**System information**
OS Platform and Distribution: Windows 10
Sklearn-genetic-opt version: 0.6.0
Scikit-learn version: 0.24.1
Python version: 3.8

**Describe the bug**
When defining a `Continuous` parameter range, it appears the generated values are not within the specified range. This is evident for algorithms that have hyperparameters, in which, the values can only be within an interval (e.g.

[2021-08-04 13:53] rodrigo-arenas commented on #68
Hi, thanks for the report!
I've checked this and it happens because spacy samples from a uniform distribution with limits [lower, lower + upper] instead of [lower, upper], that is something that I missed.
I'll fix this and release it on 0.6.1 this week.

[2021-08-04 14:06] poroc300 commented on #68
Thank you for addressing this.

[2021-08-12 07:41] sushmitaS16 commented on #63
Hello @rodrigo-arenas, I would like to contribute here. I have some experience with building custom classes and would like to give it a go.

[2021-08-12 14:05] rodrigo-arenas commented on #63
Hello @sushmitaS16 , thanks for your message, sure, go for it!

Please make sure of reading how this is implemented in scikit-learn, in their BaseSearchCV class in [here](https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/model_selection/_search.py), especially in the `fit` method and all the checkings.
On this package, the function that formats the results are in this [module](https:/

[2021-08-14 15:49] sushmitaS16 commented on #63
In BaseSearchCV's `fit` method, there is a section that overlooks the parallelization of both `GridSearchCV` and `RandomizedSearchCV`. I just need to ask that if we are to add multimetric scoring here, parallelization will have to be incorporated as well. Is that correct?
Please forgive me if I am misunderstanding something here!

[2021-08-14 16:08] rodrigo-arenas commented on #63
Hi @sushmitaS16.
There is no need to explicitly add this parallelization in the `fit` method, as in the `evaluate` method of `GASearchCV` I'm using the scikit-learn's [cross_validate](https://github.com/scikit-learn/scikit-learn/blob/8cf87a30bbd5cbd6444c6f3ed380a3d2b5f67461/sklearn/model_selection/_validation.py#L48) function, which already implements this parallelization process using the n_jobs

[2021-08-16 10:38] sushmitaS16 commented on #63
Hi, I am a little confused about this method [evaluate_candidates](https://github.com/scikit-learn/scikit-learn/blob/94edc00caba1bde6b793da4d0c53fd2d63fedf96/sklearn/model_selection/_search.py#L754) in `fit`. I gather this is the same you have mentioned in [here](https://github.com/rodrigo-arenas/Sklearn-genetic-opt/blob/e733cb7b545e45a37855c4d5664c5f0e1d1f42dd/sklearn_genetic/genetic_search.py#L6

[2021-08-17 14:10] rodrigo-arenas commented on #63
Hi, it's the same, but it's not necessary to implement it here, that function must exist in the `GASearchCV` class, otherwise, it wouldn't be possible to use inheritance from `BaseSearchCV`.
Part of that logic is in the method [evaluate](https://github.com/rodrigo-arenas/Sklearn-genetic-opt/blob/e733cb7b545e45a37855c4d5664c5f0e1d1f42dd/sklearn_genetic/genetic_search.py#L372).

What must be modifie

[2021-09-06 04:45] Raul9595 commented on #27
Hi! I am not getting enough time to work on this. I can take a look at it in the future or you can assign it to someone else. I appreciate all the help and am sorry for not being able to complete it.

[2021-10-05 05:20] windowshopr opened #75 "[FEATURE] Add in CTRL + C Early Stopping!"
**Is your feature request related to a problem? Please describe.**
Nope.

* A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
None.

* What is the use case for this feature?
When a user wants to stop the optimization process manually (without using a callback), they could press CTRL + C to stop. The best evolved_estimator at the time of pressing CTRL + C

[2021-10-06 22:34] rodrigo-arenas commented on #75
Hi @windowshopr thanks for your message, I'm glad you are enjoying the package!
This seems like a nice feature, I'll look for in more detail how to implement it

Greetings

[2021-10-07 00:18] windowshopr commented on #75
Thanks! I think it would be a cool feature to add I think! Psedo-ish code might look something like:

[code]

[2021-10-08 12:41] Fancy-angel opened #76 "change [FEATURE]"
Main Features:
GASearchCV: Principal class of the package, holds the evolutionary cross-validation optimization routine.
Algorithms: Set of different evolutionary algorithms to use as an optimization procedure.
Callbacks: Custom evaluation strategies to generate early stopping rules, logging (into TensorBoard, .pkl files, etc) or your custom logic.
Plots: Generate pre-defined plots to understand t

[2021-10-08 12:44] Fancy-angel commented on #76
I want to work on this issue  @rodrigo-arenas  please merge it with me.

[2021-10-08 15:27] rodrigo-arenas commented on #76
Hi @Fancy-angel , all the help is welcome!
Sorry, I don't quite understand, which feature you wanna work on? All that list is what is already in the package

Bu there are some open issues that need help, let me know if you have any question

Greetings

[2021-10-13 20:03] windowshopr opened #77 "MLPClassifier - ValueError: shuffle must be either True or False, got True."
**System information**
Windows 10
Sklearn-genetic-opt  version: 0.6.1
Scikit-learn version: 0.24.2
Python version: Python 3.7

**Describe the bug**
When using the GASearchCV class with MLPClassifier as the estimator, I get the error in the title. In my param_grid, I simply have it set to Categorical([True, False]), but it doesn't seem to play well. Wondering what could be causing it?

**To Reprodu

[2021-10-13 21:07] windowshopr commented on #77
Here's another one, with the full traceback:

[code]

[2021-10-13 21:47] windowshopr commented on #77
Haha well, I didn't want to post my ENTIRE param grid, but this is it:

[code]

So there's tons of params, maybe too many, but I basically accounted for every parameter for every sklearn classifier, and manually put them all into a Genetic range, some I doubled up as certain classifiers don't use ALL of the params in the given range, so I define separate ranges to use for those instances.

But loo

[2021-10-13 22:21] rodrigo-arenas commented on #77
I'll have to look this with more detail, which grid exactly did you use for SGD? If you gave that whole dict to the model, it'll fail because not all parameters are valid to all the estimators.

If you selected the ones that apply, the thing is, the `base_estimator` is not some kind of parameter the package is trying to get, it is a property that comes from the [BaseSearchCV](https://github.com/ro

[2021-10-13 23:26] windowshopr commented on #77
These were the params that were assigned to the SGDClassifier from that big grid:

[code]

So base estimator is not included in there to draw that error.

[2021-10-25 20:09] windowshopr opened #78 "[FEATURE] Allow Pipelines in GASearchCV, vs. Estimators Only"
Would be cool to see GASearchCV allow SKLearn Pipeline objects into the mix as well. For example:

[code]
I envision in the code somewhere, there could be a check, something like:

[code]

That way, it could parse the base estimator from the pipeline and the rest of the code could work, but it's nice to know that feature scaling is working properly when using cross validation. Proper scaling would

[2021-10-28 15:05] #78 closed, assigned to nobody

[2021-11-13 19:40] rodrigo-arenas commented on #76
Closing this issue, as mentioned, you can work on issue #27

[2021-11-13 19:41] #76 closed

[2021-11-17 22:57] rodrigo-arenas commented on #56
This feature is implemented in PR #79 and will be available in version 0.7.0

[2021-11-17 22:57] #56 closed

[2021-11-21 14:18] rasbt opened #80 "Version attribute does not seem to work"
**System information**
OS Platform and Distribution (e.g., macOS 12.0.1):
Sklearn-genetic-opt  version: Unknown
Scikit-learn version: 1.0
Python version: 3.9

**Describe the bug**
The version attribute does not seem to work

**To Reproduce**
[code]

**Expected behavior**
Should show version number.

**Screenshots**
![Screen Shot 2021-11-21 at 8 18 01 AM](https://user-images.githubusercontent.com/5

[2021-11-21 14:29] rasbt commented on #80
Nvm. Pip installed an old version from pypi which didn't have the version attribute. Downloading the source code and installing it from the local location fixed it.

[2021-11-21 14:29] #80 closed

[2021-11-21 14:38] rodrigo-arenas commented on #80
The self-solving bugs are the best, let me know if you have any questions!

[2021-11-21 14:40] rodrigo-arenas commented on #77
I recently made a few changes and made a new release, let me know if you are still getting troubles with this

[2021-11-21 21:54] windowshopr commented on #77
Looks like whatever you changed worked! Not getting that error anymore! Thanks! Great work!

[2021-11-21 21:54] #77 closed

[2021-12-05 14:56] azuric opened #81 "IS it possible to stipulate max number of features using featureselectionCV?"
Hi can you set a parameter for max features or would this need to be added?

Regards

[2021-12-05 15:14] rodrigo-arenas commented on #81
Hi, at this point there is no parameter to control the max features, but that should be easy to add, I'll put it in the next release

Greetings

[2021-12-07 00:36] Archimedean2 commented on #27
Hi!
Is this still up for grabs?

[2021-12-07 03:40] rodrigo-arenas commented on #27
Hi,
Yes, the help is welcome on this

[2021-12-08 14:25] rodrigo-arenas commented on #81
This is now implemented and merged in master branch, it will be available in the next release

[2021-12-08 14:25] #81 closed

[2021-12-08 15:00] azuric commented on #81
Thanks, look forward to trying it out!

On Wed, Dec 8, 2021 at 2:25 PM Rodrigo Arenas ***@***.***>
wrote:

--
Akhil Patel

[2021-12-13 15:20] siran1996 opened #83 "[FEATURE] Save an evolved_estimator?"
How can I save an evolved_estimator into a file and read it?

[2021-12-14 14:30] rodrigo-arenas commented on #83
Hi, you can use any Python serializer method, for example, joblib.dump, it should be something like:

[code]

[2021-12-14 14:30] #83 closed

[2021-12-17 20:19] rodrigo-arenas commented on #63
Hi @poroc300
I've finally got some proper time to approach this request since it was needed to change a big part of how the `cv_results_` and `logbook` are generated; this is now implemented in PR #85 it'll be available in the next release.

You will see this reflected on the `logbook` and `cv_results_` objects, where now you get results for each metric.
As in scikit-learn, if multi-metric is used

[2021-12-17 20:19] #63 closed

[2021-12-18 15:07] poroc300 commented on #63
Many thanks for the time and effort to address this issue.

[2021-12-18 15:10] rodrigo-arenas commented on #63
No problem!

[2021-12-20 16:10] rodrigo-arenas commented on #75
Hi @windowshopr, this is now implemented in PR #86.

Training gracefully stops if interrupted by some of these exceptions: ``KeyboardInterrupt`` (ctrl+c), ``SystemExit``, ``StopIteration``.
When one of these exceptions is raised, the model finishes the current generation and saves the current best model. It only works if at least one generation has been completed.

![stopping](https://user-images.

[2021-12-20 16:56] #75 closed

[2021-12-20 17:59] windowshopr commented on #75
Awesome! Thanks!!!

[2022-01-12 16:03] cewinharhar opened #88 "Wrong output for GAFeatureSelectionCV only when using max_features for RandomForestClassifier"
**System information**
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10.0.19044
Sklearn-genetic-opt  version: 0.8.0
Scikit-learn version: 1.0.1
Python version: 3.8.11

**Describe the bug**
A clear and concise description of what the bug is.

Firstly, great work!!

When using :
[code]

the Output looks like this;

[code]

This doesn't happen when removing the max_feature() parame

[2022-01-12 16:31] rodrigo-arenas commented on #88
Hi, how many features have your X? Is this public data you can share?

The model uses -10000 as a penalization value when it assigns 0 features or a value greater than the max_features, this is the part of the code that handles this value:

[code]

[2022-01-12 16:54] cewinharhar commented on #88
Hi Rodrigo!
Thanks for the quick reply.
X has the shape 181, 2730 and therefore 2730 features. The data will be published in 2 weeks so no its not yet public. But for a snippet:

[code]

[2022-01-12 17:00] rodrigo-arenas commented on #88
That is right, max_features must be greater than n_selected_features; you can also try to increase the `mutation_probability` parameter to around 0.2.
I'll try to simulate this volume of data and see if I can reproduce this, I'll also take a look when the data is publicly available.

[2022-01-13 14:18] rodrigo-arenas commented on #88
Hi @cewinharhar
I took a closer look into this, and I realized what could be happening:

At generation 0, we have N solutions (population size), each solution is a random sample of the features, this random sample may or may not have less than max_features since it follows a uniform distribution.
I simulated around 3k variables using max_features=300, this lead to some runs where there is no rando

[2022-01-20 16:27] antaradas94 opened #89 "Curious about metrics in ConsecutiveStopping callbacks"

[2022-01-20 19:08] rodrigo-arenas commented on #89
In this case, ConsecutiveStopping is used to avoid running a model that might get stuck and can't find any more solutions, it's specific to the use case, but a good starting point would be to stop the model if it has run over more than 20% of the total generations without improvement, for example, it has run 20 generations out of 100 without improvement in the fitness.

This callback is not relate

[2022-02-15 05:58] btmartin721 opened #90 "GASearchCV Really Slow Compared to GridSearchCV"
**System information**
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10, in Visual Studio Code IDE Debugger with Anaconda environment. Issue also occurs in Linux Ubuntu 20.04.
Sklearn-genetic-opt  version: 0.8.0
Scikit-learn version: 1.0.2
Python version: 3.8.12

**Describe the issue**
Hi. I am having an issue with GASearchCV that I am hoping you could help me with. I have a cus

[2022-02-15 23:05] rodrigo-arenas commented on #90
Hi @btmartin721, thanks for your message; I'll try to break down the explanation:

* In general, the AutoML models are meant to run for more extended periods of time than more straightforward methods such as GridSearchCV to explore/exploit the hyperparameters space
* Each iteration of GASearchCV fits several models (combination of hyperparameters), the initial number of models per iteration is con

[2022-02-15 23:28] rodrigo-arenas commented on #89
I'm closing this issue, feel free to ask more questions if needed

[2022-02-15 23:28] #89 closed

[2022-02-16 14:48] btmartin721 commented on #90
Hi @rodrigo-arenas,

Ah ok. That makes sense now. Thank you for your explanation. I will try changing the parameters you mentioned to reduce the runtime.

I greatly appreciate your time!

-Bradley

[2022-02-16 14:48] #90 closed

[2022-02-26 05:29] sgbaird opened #91 "Can a vector of weights be specified in `param_grid` within GASearchCV (somehow)?"
The idea is to take in predictions from an arbitrary number of models, and find optimal weights that maximize the accuracy of the ensembled model.

Here's the estimator that I wrote:
[code]
Related: https://machinelearningmastery.com/weighted-average-ensemble-with-python

How would you suggest optimizing `weights` since it's a vector that can change in size based on the size of the input data?

[2022-03-06 23:15] rodrigo-arenas commented on #91
I'm closing this issue, but feel free to raise more questions if needed

[2022-03-06 23:15] #91 closed

[2022-03-09 19:36] rodrigo-arenas commented on #88
The solution previously explained now is available in version 0.8.1 via PR #92

[2022-03-09 19:36] #88 closed

[2022-04-22 02:47] Xenios91 opened #93 "NGrams"
So I may be using it wrong, but how does one use ngrams with this tool? Is this feature not implemented?

[2022-04-22 13:32] rodrigo-arenas commented on #93
Hi, it would help if you can share the fields required and the error you see as a bug, the snippet of the code you are trying, etc

This package works with any sklearn classifier or regressor, so it depends on how you are using n-grams, if you are using something like Count Vectorizer plus a classification model like GaussianNB, you can define parameters of each of these classes using a pipeline,

[2022-04-22 13:34] Xenios91 commented on #93
Hello,

Any chance you have an example of how to use ngrams_range from CountVectorizer? I have tried a few ways with no luck.

[2022-04-22 14:10] Xenios91 commented on #93
thanks

[2022-04-22 14:11] #93 closed

[2022-05-29 14:08] trainorp opened #94 "Random seed"
Hi Rodrigo,

Is there a way to make the GA search reproducible? Something like setting a random seed? Thanks!

-Patrick

[2022-05-29 15:42] rodrigo-arenas commented on #94
Hi Patrick, at this point there is not such option, I'll add it for the next release

Greetings

[2022-06-05 19:33] rodrigo-arenas commented on #94
Hi, @trainorp I've been researching this, and unfortunately, it looks like DEAP (the package used for all the genetic optimization) doesn't have the option to set a random seed. I added a `random_state` variable in the only part that this package has control over, so it's just a partial implementation.
You can check more details on PR #97, this will be released in version 0.9.0

If this option com

[2022-06-05 19:33] #94 closed

[2022-06-05 19:48] rodrigo-arenas commented on #94
@trainorp with this PR you can implement the following walk-around that seems to work: Set the random seed in each individual class that accepts this parameter, and define the seed at the top file which runs the algorithm, for example:

[code]

[2022-06-06 22:46] rodrigo-arenas commented on #27
Closed as mention in #98

[2022-06-06 22:46] #27 closed

[2022-06-07 13:51] firefly-cpp opened #100 "[FEATURE] Add more population-based nature-inspired algorithms"
Thanks for working on this exciting project! Is there a possibility to add more population-based nature-inspired algorithms to your framework?

Is there a possibility to call algorithm implementations from the NiaPy framework?

[2022-06-07 15:44] rodrigo-arenas commented on #100
Hi @firefly-cpp, thanks for your message!
At this moment, the package heavily relies on how DEAP structure the evolutionary algorithms, so at this point, it's possible to add more algorithms (there are already three variants), but only the ones that are compatible with DEAP

I've thought as well allowing other "backends" like NiaPy to use different algorithms from different frameworks, this would

[2022-06-09 15:14] firefly-cpp commented on #100
Thanks for your explanation.

[2022-06-09 15:14] #100 closed, assigned to nobody

[2022-06-10 17:01] trainorp commented on #94
Rodrigo,

This is so awesome. Thank you!

-Patrick

From: Rodrigo Arenas ***@***.***>
Date: Sunday, June 5, 2022 at 3:49 PM
To: rodrigo-arenas/Sklearn-genetic-opt ***@***.***>
Cc: Patrick Trainor ***@***.***>, Mention ***@***.***>
Subject: Re: [rodrigo-arenas/Sklearn-genetic-opt] Random seed (Issue #94)

@trainorp<https://github.com/trainorp> with this PR you can implement the following walk-aroun

[2022-06-16 13:47] rodrigo-arenas opened #101 "Improve documentation and examples"
I open this issue for newcomers who would like to contribute to an open-source project

The idea is to improve the current docs and add more examples using the library, you can see the current docs files [here](https://github.com/rodrigo-arenas/Sklearn-genetic-opt/tree/master/docs)

You could also add external articles to the package showcasing some applications, see [these](https://github.com/rod

[2022-07-19 13:16] emirtarik commented on #101
Hi @rodrigo-arenas

I'm having an issue when I'm trying to replicate the [Boston House Pricing Prediction notebook](https://sklearn-genetic-opt.readthedocs.io/en/stable/notebooks/Boston_Houses_decision_tree.html).

I'm not sure if the package names are outdated or I made a mistake installing them but I get the following error when I'm importing the packages in the first block:

`from sklearn_genet

[2022-07-19 13:22] rodrigo-arenas commented on #101
Hi @emirtarik , I hope you are doing great
I think it might be a misunderstanding, the sklearn-genetic package has nothing to do with sklearn-genetic-opt (this package), they just happen to share some part of the name, make sure you are installing the right one using

[code]
Let me know if this fixes the problem

[2022-07-19 14:06] emirtarik commented on #101
Thanks for the quick reply @rodrigo-arenas.

Now it makes sense. Sorry about that misunderstanding. This did fix my problem however I'm still having the problems with `.space` `.plots` `.callbacks`. Do you know why these might be missing?

Thanks again

[2022-07-19 15:46] emirtarik commented on #101
Yes, it was an import error but I think it was related to the python environment on my work computer because after trying on my Jupyter server and local python, I gave it a try on Colab and it worked! I'll use it there instead.

Thanks a lot @rodrigo-arenas, maybe I can contribute on the docs once I understand more of how this works.

[2022-07-19 15:55] rodrigo-arenas commented on #101
No problem, I'm glad you made it work.
And for sure, new contributors are welcome!

For sparse matrices, it's not something quite related to the package itself, it is just regular machine learning techniques, you could for example use some preprocessing steps, like a t-sne or PCA algorithm to reduce the number of dimensions in your dataset; you can also try to not one-hot encode all the variables

[2022-07-21 15:04] emirtarik commented on #101
Hi again @rodrigo-arenas,

Following your suggestions, I was able to work with a labeled dataset. I was hesitant to do this since my categoricals are not exactly ordinal, therefore I was afraid that this would complicate interpretation. For instance, you wouldn't do this in a linear approach as to not bring any meaning to the marginal increase in categories under a single variable. With sparse mat

[2022-07-21 19:07] rodrigo-arenas commented on #101
Hi @emirtarik
I understand, as you mentioned, the encoding strategy might have those impacts

About the second part, of the gene frequencies, you can check exactly which hyperparameters the model tried using at each step in the case of `GASearchCV`, or the features it selected in `GAFeatureSelectionCV`, you have different options:

* You can explore the `logbook` object which contains all this inf

[2022-07-25 18:43] GuiTaek commented on #101
Hi, as given in the CONTRIBUTING.md, herewith I say, that I'm working on this issue. I will likely not fix it but I can probably make it better

[2022-07-25 19:02] rodrigo-arenas commented on #101
Hi @GuiTaek for sure, just let us know which sections you'll be working on, so other people don't overwrite it
Thanks!

[2022-07-30 11:16] GuiTaek commented on #101
You're welcome. For now, as I haven't ever used this library (came from good first issue tag) I would like to tackle the first greater page https://sklearn-genetic-opt.readthedocs.io/en/stable/tutorials/basic_usage.html. I don't know, maybe later more

[2022-07-30 18:44] rodrigo-arenas commented on #101
Hi @GuiTaek yeah for sure, you can start on that one. In this case, it would be great one Pull Request per page, so we keep subjects separated

Thanks

[2022-07-31 14:26] GuiTaek commented on #101
Hi @rodrigo-arenas, then I'll collect every suggestion I have for one page and make a pull request. May I also touch content? E.g. I think, it is possible to improve the example as the max-score doesn't increase much. It would be better advertising if it increases gradually from low to high. I already have an example I'm not satisfied though, as it throws warnings.

[2022-07-31 16:19] rodrigo-arenas commented on #101
Hi @GuiTaek , yes the examples can be improved, just take into account that the ones shown in the tutorials section, usually are pretty simple, so the users can get started right away, what I mean is, for example, if the tutorial is about adapters, I'd showcase how to setup that parameter, and not adding callbacks, loggers that might mix two subjects.

On the other hand, if you see the jupyter not

[2022-08-05 00:07] jordan-bird opened #102 "Tuples as categorical parameters - "ValueError: a must be 1-dimensional""
**System information**
OS Platform and Distribution: Windows 10
Sklearn-genetic-opt  version: 0.9.0
Scikit-learn version: 1.0.2
Python version: 3.7.9

**Describe the bug**
Passing tuples as hyperparameters causes the simulation to crash at the start with "ValueError: a must be 1-dimensional"

**To Reproduce**
Messy code but this will throw the error:
[code]

**Expected behavior**
The algorithm sho

[2022-08-05 00:29] jordan-bird commented on #77
It seems this error might be back with nesterovs_momentum in the MLP Classifier

'nesterovs_momentum': Categorical([True, False])

gives the following error:

"ValueError: nesterovs_momentum must be either True or False, got False."

[2022-08-05 00:42] jordan-bird commented on #102
I think I managed to fix this with [Pull Request #103](https://github.com/rodrigo-arenas/Sklearn-genetic-opt/pull/103)

Switching from NumPy to Python's built-in random.choice enables selection of 2D categorical parameters. I now have this algorithm searching for Neural Net Hyperparameters.

[2022-08-05 13:49] rodrigo-arenas commented on #102
Hi @jordan-bird thanks for the report!
I just left a couple of comments on the pull request, let me know if you have any questions

[2022-08-08 10:16] emirtarik commented on #101
Hi @rodrigo-arenas, hope you're doing well.

I'm trying to use the `GAFeatureSelectionCV` as you suggested to understand the importance of attributes in my dataset, however I have a two-sided problem in this regard.

The first is that I'm trying to use labeled data instead of encoded and this directly results in the error below.

[code]

The second is when I try to do this with encoded data, I am

[2022-08-08 16:46] rodrigo-arenas commented on #101
Hi @emirtarik , as you mentioned you can't pass a labeled dataset, not especially because of this package, but because scikit-learn won't work with such a structure, so there is really nothing I can do from this library, this must be solved in a pipeline with some encoding as a preprocessing step.

The `best_features_` attribute returns one value per each input column, so you must know what each c

[2022-08-13 09:24] GuiTaek commented on #101
OK, I'll consider that, that it should be easy.

[2022-08-28 17:29] GuiTaek commented on #101
Unfortunately I cannot make a draft pull request and request review. I'd like to have review as I have quite a bundle of changes and I am particulary unsure about the whole example thing: Is it OK, that I use intentionally a "wrong" range to show the powers of this library? Is it clear that a user have to change it according to what I have written? See also the draft pull request as well as the co

[2022-09-10 12:36] GuiTaek commented on #101
I made a full pull request as I feared that you can't see the pull request.

[2022-09-10 13:55] rodrigo-arenas commented on #101
Hi @GuiTaek thanks for notifying me, I just saw the PR I'll be reviewing it this weekend

[2022-09-17 10:58] mario-sanz opened #106 "`pip install sklearn-genetic-opt[all]` not working"
**System information**
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 22.04
Sklearn-genetic-opt  version: 0.9.0
Scikit-learn version: 1.1.2
Python version: 3.10.4 (with virtual environment)

**Describe the bug**
Hello. I am trying to get all the features of this package but the `pip install sklearn-genetic-opt[all]` command seems not to be working. I have tried to install it

[2022-09-18 20:37] rodrigo-arenas commented on #106
Hi @mario-sanz, unfortunately this package doesn't support python 3.10+, this is because it's built on top of the DEAP, package, which doesn't support this python version, once they upgrade it I'll as well for sklearn-genetic-opt

[2022-09-18 20:37] #106 closed

[2022-10-04 17:37] santialferez commented on #102
Is it possible with the hidden layer parameter of MLP use a tuple of integers something like (Integer(10,100), Integer(20,30)) to define the options for two hidden layers?

[2022-10-06 15:12] hrampadarath opened #108 "[FEATURE] Support for XGBoost early stopping"
Thanks for such a cool package.

I'm using GASearchCV to hypertune an xgboost model. However, it is failing if I use early stopping an fit()
Can early stopping (and the additional xgbosst fitting params) be used with GASearchCV().fit()?

Thanks,
Hayden

[2022-10-08 23:37] RNarayan73 opened #109 "AssertionError: Assigned values have not the same length than fitness weights"
Hi All,

Has anyone come across the issue described below? I'd appreciate any direction to help resolve this.

**System information**
OS Platform and Distribution: Windows 11 Home
Sklearn-genetic-opt  version: 0.9.0
deap version: 1.3.3
Scikit-learn version: 1.1.2
Python version: 3.8.13

**Describe the bug**
When running my pipeline through GASearchCV, this error occurs intermittently.

I'm running

[2022-10-12 21:23] RNarayan73 opened #110 "GAFeatureSelectionCV - <classifier> object has no attribute 'transform'"
**System information**
OS Platform and Distribution: Windows 11 Home
Sklearn-genetic-opt version: 0.9.0
deap version: 1.3.3
Scikit-learn version: 1.1.2
Python version: 3.8.13

**Describe the bug**
I have fitted an instance of GAFeatureSelectionCV using LGBMClassifier
[code]
and got the expected results in the various output attributes such as .best_estimator_ and n_features_in_

However, unlike th

[2022-10-14 14:26] rodrigo-arenas commented on #102
Hi @santialferez, currently there is already a PR working on this issue, I'll take into account the tuple suggestion while evaluating it

Thanks

[2022-10-14 14:30] rodrigo-arenas commented on #108
Hi @hrampadarath, can you please provide a snippet of the code you're using and the error you get? This way it's easier to evaluate what is going on

[2022-10-18 19:38] RNarayan73 commented on #109
Error is from a different module genetic_selection used for Feature Selection using deap as well

[2022-10-18 19:39] RNarayan73 commented on #109
Error is from a different module genetic_selection used for Feature Selection using deap as well

[2022-10-18 19:39] #109 closed

[2022-10-28 20:46] abianco88 opened #112 "[FEATURE] Conda package"
**Is your feature request related to a problem? Please describe.**
May I ask if there are plans to release a `conda` package in the near future?

I want to use this package within a project whose virtual environment is created with `conda` and all installed packages are also from conda/conda-forge. I have `pip` installed in the environment and tried to install `sklearn-genetic-opt` via pip as stat

[2022-11-01 12:57] rodrigo-arenas commented on #112
Hi @abianco88 I've it in mind, I'll probably add this for the next release

[2022-11-01 14:15] abianco88 commented on #112
That would be cool. Do you have in mind a timeline for the next release?

[2022-11-08 12:36] ghost opened #113 "Contributing to this project"
Hello,
as part of our studies, me and some friends have to contribute to an opensource project related to optimization. Your project seems particularly interesting.

Do you need help on a particular feature? On which subject do you advise us to work?

Have a nice day,
Pierre C.

[2022-11-17 08:47] GiannisPikoulis commented on #110
Having exact same issue, this needs to be fixed.

[2022-11-22 04:02] rawanm900 opened #114 "[FEATURE]"
**Is your feature request related to a problem? Please describe.**
* A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
* What is the use case for this feature?

**Describe the solution you'd expect**
* A clear and concise description of what you want to happen.
* Describe the workflow you want to enable

**Additional context**
Add any other context or scr

[2022-11-22 04:02] rawanm900 commented on #114
roonm900

[2022-11-22 04:03] rawanm900 commented on #114
Irmw900